.*
!.gitignore
config/local.toml
_*
# '_' in src dir, ok.
!**/src/**/_*
target/
.git/
tests/
*.lock
*.lockb
*.log

target/

!.cargo/

dist/
out/

*.db3
*.paraquet
*.map
*.zip
*.gz
*.tar
*.tgz
*.vsix

*.mov
*.mp4
*.webm
*.ogg
*.avi

*.icns
*.ico
*.jpg
*.png
*.bmp

node_modules/
!.mocharc.yml
report.*.json

__pycache__/
